                                /* Flex styles -------------------------------------------------*/
                            
                            .content-header {
                                display: flex;
                                align-items: flex-end;
                                flex-direction: column;
                            }
                            
                            main {
                                display: block;
                            }
                            
                            @media (min-width: 700px) {
                                /*
    .leading {
        display: flex;
        align-items: center;
    }
}


/* Grid styles -------------------------------------------------*/
                                .cards {
                                    display: grid;
                                    /* para que se ajusten las cards: tamaño alto-ancho)----------------------------------------*/
                                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                                    /*si quiero espacio entre cards
    -------------------
    grid-gap: 30px;
    */
                                }
                                /* Generic styles ----------------------------------------------*/
                                body {
                                    font-family: Arial, Helvetica, sans-serif;
                                }
                                header {
                                    padding: 10px;
                                    font-size: 1em;
                                    color: white;
                                    background-color: lightseagreen;
                                    height: 250px;
                                }
                                @media (min-width: 700px) {
                                    .leading-bigtext {
                                        font-size: 140px;
                                    }
                                }
                                /*
.leading-text {
    max-width: 900px;
    font-size: 1.2em;
    line-height: 1.4em;
}
*/
                                .cards {
                                    max-width: 960px;
                                    margin: 0 auto 30px;
                                }
                                article {
                                    position: relative;
                                }
                                .article-img {
                                    height: 200px;
                                    width: 100%;
                                    object-fit: cover;
                                }
                                /* para ponerle un letrero a cada article*/
                                .article-title {
                                    position: absolute;
                                    bottom: 0;
                                    width: 100%;
                                    padding: 10px;
                                    background-color: #e0ffae86;
                                }