/*
div {
    height: 100px;
    width: 100px;
    padding: 5px;
    border: 5px solid red;
    box-sizing: border-box;
    background-color: greenyellow;
}
*/

div {
    height: 100px;
    width: 100px;
    margin: auto;
    border: 5px solid red;
    box-sizing: content-box;
}