* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.body {
    height: 100vh;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
}