* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #3CDBC0;
  color: #4a4a4a;
  font-weight: 400;
  min-height: 100vh;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 10px 10px 3px 10px;
}

.logo__link {
  display: inline-block;
}

.logo {
  display: block;
}

/* menu */

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 10px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

@media all and (min-width:768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 30px;
  }
}

/* MAIN */

.main {
  min-height: 100vh;
  padding-top: 122px;
  display: flex;
  flex-direction: column;
}

.main__container {
  flex-grow: 1;
  position: relative;
}

.main__title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  max-width: 210px;
  text-transform: capitalize;
}

@media all and (min-width: 768px) {
  .main {
    padding-top: 101px;
  }
  .main__title {
    font-size: 40px;
    max-width: 240px;
  }
}