<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Adalab</title>
</head>

<body>
  <header class="header">
    <a class="logo__link" href="index.html">
      <img class="logo" src="assets/images/logo_adalab_155x61.png" alt="Adalab Logo">
    </a>
    <nav>
      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="">Blog</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="">Contacto</a>
        </li>
      </ul>
    </nav>
  </header>

  <main class="main">
    <div class="main__container">
      <h1 class="main__title">Creando diversidad digital</h1>
    </div>
  </main>
</body>

</html>