    * {
        box-sizing: border-box;
    }
    
    .caja-1 {
        height: 500px;
        width: 500px;
        background-color: yellow;
        left: 50vh;
        border: 2px solid orange;
    }
    
    .caja-2 {
        height: 300px;
        width: 300px;
        background-color: green;
        position: absolute;
        padding: 75px;
    }
    
    .caja-3 {
        height: 150px;
        width: 150px;
        background-color: blue;
        position: absolute;
    }
    /*border: 20px dotted cyan;*/
    
    .caja-4 {
        height: 50px;
        width: 50px;
        background-color: red;
        position: absolute;
    }