* {
    box-sizing: border-box;
    max-width: 960px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

body {
    padding: 10px;
    margin: 0;
}

.container {
    flex-direction: row;
}

header {
    background-color: red;
    border: 05.px solid green;
    width: 100%;
    order: 0;
}

article {
    background-color: cyan;
    order: 2;
}

.aside-1 {
    background-color: yellow;
    order: 1;
}

.aside-2 {
    background-color: palevioletred;
    order: 3;
}

footer {
    background-color: greenyellow;
}